.swal-title {
            color: #fff;
            font-weight: 600;
            text-transform: none;
            position: relative;
            display: block;
            font-size: 27px;
            line-height: normal;
            text-align: center;
            }
        .swal-text {
            font-size: 16px;
            color: #fff;
            
        }
        .swal-footer {
            text-align: center;}
        .swal-button {
              padding: 7px 19px;
              border-radius: 2px;
              background-color: #4962B3;
              font-size: 12px;
              
              text-shadow: #f97c7c;
            }
            .swal-button:not([disabled]):hover {
    background-color: #000000;
}
            .swal-modal {
              background-color: rgb(255 63 63 / 69%);
              border: 3px solid #a70414;
            }

.fechaHora{
  background: #fff;

}

.fechae{
  color : #000; 
  font-family : Verdana, Arial, Helvetica; 
  font-size : 14pt; 
  text-align : center;
  font-weight: 800;
  
}

.hora{
  color : #000; 
  font-family : Verdana, Arial, Helvetica; 
  font-size : 14pt; 
  text-align : center;
  border: none;
  font-weight: 800;
}